import React from "react";

type CountProps = {
  count: number;
  onIncrease: () => void;
  onDecrease: () => void;
  onIncreaseBy: (diff: number) => void;
  onDecreaseBy: (diff: number) => void;
};

function Count({
  count,
  onIncrease,
  onDecrease,
  onIncreaseBy,
  onDecreaseBy
}: CountProps) {
  return (
    <div>
      <h1>{count}</h1>
      <button onClick={onIncrease}>+</button>
      <button onClick={onDecrease}>-</button>
      <button onClick={() => onIncreaseBy(5)}>+5</button>
      <button onClick={() => onDecreaseBy(5)}>-5</button>
    </div>
  );
}

export default Count;
